.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TEXT */
.font-12 {
  font-size: 12px
}

.text-shadow {
  text-shadow: 0 0 3.5px black!important;
}

.bold {
  font-weight: bold;
}
.arial {
  font-family: Arial;
}

div {
  font-family: Arial!important;
}

.text-center-important {
  text-align: center!important;
}

.text-stroke {
  -webkit-text-stroke: 1px black!important;
}

/* CONTAINER */

.image-container {
  display: flex;
  align-items:center;
  justify-content: center;
}

/* COLORS */

.white {
  color: white
}

.snowload-grey {
  color: #6c757d
}

.snowload-grey-background {
  background-color: #6c757d!important;
}

.snowload-lightgrey-background {
  background-color: #e9ecef!important;
}

.snowload-blue {
  color: #0d6efd
}

/* SNOWLOAD STYLE */

.snowload-grey-background {
    background-color: #6c757d!important;
}

/* BORDERS */

.bottom-border-black {
  border-width: 1.5px!important;
  border-color: black!important;
  border-style: hidden hidden solid hidden;
}

.top-border-black {
  border-width: 1.5px!important;
  border-color: black!important;
  border-style: solid hidden hidden hidden;
}

.top-bottom-border-black {
  border-width: 1.5px!important;
  border-color: black!important;
  border-style: solid hidden solid hidden;
}

.all-border {
  border-width: 1.5px!important;
  border-color: black!important;
  border-style: solid solid solid solid!important;
}

.bottom-border-light {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(211, 211, 211, 0.75);
}

.top-border-light {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(211, 211, 211, 0.75);
}

/* FLEX */

.column-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-auto {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

footer a:hover {
  color: white!important;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

/* EFFECTS */

.button-animated:hover {
  transition: all .4s ease-in-out;
  transform: scale(1.05);
  z-index: 10!important;
}

@media (max-width: 480px) {
  .button-animated:hover {
    transform: scale(1.025)!important;
  }
}

/* TABLE */
.table-header {
  border-top-width: 1.5px;
  border-bottom-width: 1.5px;
  border-color: black!important;
}

.table-header > th {
  text-align: center;
  vertical-align: middle;
}

.border-right-darkgray {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: darkgray;
}

.border-right-lightgray {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: lightgray;
}

.red-background {
  background-color: #dc3545!important;
}

.red-checkbox {
  background-color: #dc3545!important;
}

.red-checkbox:hover {
  background-color: #bb2d3b!important
}

.green-checkbox {
  background-color: #198754!important;
}

.green-checkbox:hover {
  background-color: #157347!important;
}

.center {
  vertical-align: center!important;
  text-align: center!important;
  align-items: center!important;
}

th > select {
  border: 0!important;
}

.product-card,.form-select:hover {
  cursor: pointer;
}