.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* TEXT */
.font-12 {
  font-size: 12px
}

.text-shadow {
  text-shadow: 0 0 1.5px black;
}

.text-center-important {
  text-align: center!important;
}

/* CONTAINER */

.image-container {
  display: flex;
  align-items:center;
  justify-content: center;
}

/* COLORS */

.white {
  color: white
}

.snowload-grey {
  color: #6c757d
}

/* SNOWLOAD STYLE */

.bottom-border {
  border-width: 1.5px!important;
  border-color: black!important;
  border-style: hidden hidden solid hidden;
}

.top-border {
  border-width: 1.5px!important;
  border-color: black!important;
  border-style: solid hidden hidden hidden;
}

.all-border {
  border-width: 1.5px!important;
  border-color: black!important;
  border-style: solid solid solid solid;
}

.snowload-grey-background {
    background-color: #6c757d!important;
}

/* HEADER AND FOOTER */

/*.header-footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  text-align: center;
}*/

.column-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.flex-auto {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

footer a:hover {
  color: white!important;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    font-size: 16px;
  }
}

/* EFFECTS */

.button-animated:hover {
  transition: all .4s ease-in-out;
  transform: scale(1.05);
  z-index: 10!important;
}